<!DOCTYPE html>
<html>
<!-- <script async defer src="https://apis.google.com/js/api.js"
onload="this.onload=function(){};handleClientLoad()"
onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
<script  src="../client_secret.json"></script>
<script src="../quickstart.js"></script> -->
  <head>
    <title>Goes Back</title>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <h2>Endorsement Validator</h2>
    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize-button" style="display: none;">Authorize</button>
    <button id="signout-button" style="display: none;">Sign Out</button>

    <pre id="content"></pre>

  <div id="column">
   <div class="topnav">
     <input type="text" placeholder="Syria" id="place" >
     <button type="submit" id="searchButton"><i class="fa fa-search"></i></button>
   </div>
   <div id="endorsements">
   </div>
   <div class="endorsement">
     <span class="timestamp">08:04pm May 12, 2018 EDT</span>
     <div class="headline">Syrian government forces fire on coalition aircraft near SDF controlled village of Mahkan, Syria: Local News Outlet via Twitter.</div><br>
   </div>
 </div>

    <script>

    messages = {{{messages}}}

    endorse_template = $('.endorsement').clone();
    $('.endorsement').remove();

    let userSearch = new RegExp($('#place').val(), "g");

    let captions = messages.filter(function(message){
      return message.payload.headers[31].value.match(userSearch);
    });

  function createEndorsement(email) {
    let endorse = endorse_template.clone();
    endorse.find('.timestamp').text(new Date(+email.internalDate));
    endorse.find('.headline').text(email.payload.headers[31].value);
    return endorse;
  }

  function populateMessages(captions) {
    return captions.map(e => createEndorsement(e));
  }

     $('#searchButton').click(function() {
       let userSearch = new RegExp($('#place').val(), "g");
       let captions = messages.filter(function(message){
         return message.payload.headers[31].value.match(userSearch);
       });
       $('#endorsements').append(populateMessages(captions))
     });



    </script>

  </body>
</html>
