<!DOCTYPE html>
<html>
  <head>
    <title>Gmail API Quickstart</title>
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <p>Gmail API Quickstart</p>
   <p>{{message}}</p>
    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize-button" style="display: none;">Authorize</button>
    <button id="signout-button" style="display: none;">Sign Out</button>

    <pre id="content"></pre>

  <div id="column">
   <div class="topnav">
     <input type="text" placeholder="Location..." id="place">
     <input type="text" placeholder="Hours back..." id="time">
   </div>
   <div class="endorsement">
     <span class="timestamp">08:04pm May 12, 2018 EDT</span>
     <div class="headline">Syrian government forces fire on coalition aircraft near SDF controlled village of Mahkan, Syria: Local News Outlet via Twitter.</div><br>
   </div>
 </div>
    <!-- <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    <script  src="../client_secret.json"></script>
    <script src="../quickstart.js"></script> -->

    <script>

    messages = {{{messages}}}

    let captions = messages.filter(message => {
      return message.payload.headers[31].value.match(/Syria/g);
    });

      let posts={};
      let dates={};

      for(let i=0; i<captions.length;i++){
        posts[i]=captions[i].payload.headers[31].value;
        dates[i]=captions[i].payload.headers[34].value;

    }

    let $e = $("<div />").addClass("endorsement")

    for (let i=0; i< captions.length; i++){
      $e.append($("<div />").addClass("timestamp").value(dates[i]))
      $e.append($("<div />").addClass("headline").value(posts[i]))
    }

// captions.forEach(function(caption){
//   let endorsement = document.createElement('.endorsement')
//   endorsement#place.textContent =
// })
//
//     let newEndorsement = document.createDocumentFragment();
//     for (let i=0; i< captions.length; i++) {
//         let e = document.createElement("div");
//         e.className = "endorsement";
//         c.appendChild(e);
//     }
//     document.body.appendChild(newEndorsement);

    // $('select').change(function() {
    //  var num = parseInt($(this).val(), 10);
    //  var container = $('<div />');
    //  for(var i = 1; i <= num; i++) {
    //      container.append('<input id="id'+i+'" name="name'+i+'" />');
    //  }
    //  $('somewhere').html(container);

    </script>

  </body>
</html>
