<!DOCTYPE html>
<html>
  <head>
    <title>Gmail API Quickstart</title>
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <p>Gmail API Quickstart</p>
   <p>{{message}}</p>
    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize-button" style="display: none;">Authorize</button>
    <button id="signout-button" style="display: none;">Sign Out</button>

    <pre id="content"></pre>

  <div id="column">
   <div class="topnav">
     <input type="text" placeholder="Location..." id="place">
     <input type="text" placeholder="Hours back..." id="time">
   </div>
   <div class="endorsement">
     <span class="city">Deir ez-Zur, Syria</span>
     <span class="timestamp">08:04pm May 12, 2018 EDT</span>
     <div class="headline">Syrian government forces fire on coalition aircraft near SDF controlled village of Mahkan, Syria: Local News Outlet via Twitter.</div><br>
     <div class="vernacular">قوات النظام المنتشرة في بلدة محكان شرق #ديرالزور تفتح نيران أسلحتها الرشاشة تجاه طائرات للتحالف الدولي في سماء المنطقة الواقعة تحت سيطرة "قسد" في الجانب الأيسر من نهر الفرات.</div>
   </div>
 </div>
    <!-- <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    <script  src="../client_secret.json"></script>
    <script src="../quickstart.js"></script> -->

    <script>
      messages = {{{messages}}}
    </script>

  </body>
</html>
